﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Web Store</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            @*drop down*@
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ListProduct", "Home")">Sản phẩm</a>
                </li>
                <li class="nav-item dropdown cart-summary body-summary">
                    @*cart-summary ở đây để đánh dấu bắt event*@
                @{
                    Html.RenderAction("CartSummary", "Cart");// gọi một partial view có gọi đến action trả về void nên cần bỏ vào {}
                }
                </li>

             <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
             </li>
            
             </ul>


            <!--<a class="p-2 text-dark" href="@Url.Action("Index", "Home")">Trang chủ</a>

            @Html.ActionLink("Sản phẩm", "ListProduct", "Home", null, new { @class = "p-2 text-dark" })<!--null ở đây là query string-->
            
            <!--@*<a class="p-2 text-dark" href="#">Sản phẩm</a>*@
            <a class="p-2 text-dark" href="@Url.Action("ListCustomer", "Home")">Khách hàng</a>
            @Html.ActionLink("Giỏ hàng", "Index", "Cart", null, new { @class = "p-2 text-dark" })
            <a class="p-2 text-dark" href="#">Pricing</a>-->

            
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>

    <div class="container">

        @RenderBody()
        
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <!--CORE JS-->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
 

    <!--CUSTOM JS-->
    <script src="~/Scripts/site.js?t=2"></script>

    <!--JS trên từng page-->
    @RenderSection("js", false)

</body>
</html>
